///
/// BUTTONS
/// <button>
///============================================================================

button {
  font-family: inherit;
  line-height: normal;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  @include on-event {
    text-decoration: none;
    outline: none;
  }

  &:-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &.disabled,
  &:disabled {
    cursor: default;
  }
}
